[Unit]
Description=Cinc Auditor Compliance Scanner
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/spindle/scripts/inscan/run-scan.sh
WorkingDirectory=/opt/spindle
StandardOutput=append:/var/log/spindle/inscan.log
StandardError=append:/var/log/spindle/inscan.log